<ion-view view-title="{{rivy.title}}" hide-tabs='true'>
  <ion-content class="padding">
    
		<div class="card">
		  <div class="item item-text-wrap" style="font-size:175%">
		    {{rivy.body}}
		  </div>
		</div>

		<div class="card">
		  <div class="item item-text-wrap item-button-right" ng-repeat="comment in rivy.comments | orderBy:'-upvotes'">
		    {{comment.body}}
		    <button class="button icon-left ion-thumbsup button-clear button-positive" style="top:4px !important" ng-click="incrementUpvotes(comment)">
		     {{comment.upvotes}}
		      </button>
		  </div>
		</div>


		<form ng-submit="addComment()"
	    style="margin-top:30px;">
	    <h3>Add a new comment</h3>
		<div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Comment"
	      ng-model="inputObject.body"></input>
	    </div>
	 	  <button type ="submit" class="button button-block button-positive" ng-click="addRivy()" type="submit">
  		Post
		</button>
	  </form>
  

  </ion-content>
</ion-view>