<ion-view view-title="Home">
    <div ng-app="starter" ng-controller="HomeCtrl">
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>

<!-- <form ng-submit="addLocation()">
	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios7-search placeholder-icon"></i>
	    <input type="search" placeholder="Search" ng-model="inputObject.body">
	  </label>
	  <button class="button button-clear" type="submit" ng-click="addLocation()">
	    Post
	  </button>
	</div>
</form> -->

<!-- 
<div ng-app="mapsApp" ng-controller="MapCtrl">
    <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div> -->